.weather__title {
    opacity: 1;
    font-size: setting($font-size, m);
    text-transform: uppercase;
}

.weather__current {
    @include font-sans-light;

    font-size: setting($font-size, l);
    letter-spacing: .05em;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}

.weather__stat {
    @include clearfix;
}

.weather__type {
    @include font-sans;

    top: .1em;
    float: left;

    opacity: .5;

    font-size: setting($font-size, s);
    text-transform: uppercase;
}

.weather__value {
    @include font-sans-black;

    float: right;
    vertical-align: top;

    color: color($yellow);
}
